.content__small-card {
    display: grid;
    grid-template-areas: 
    'img1 img1 img2 img2';
    border-bottom: 1px solid var(--color-text);
    padding-bottom: .5em;
    gap: 1em;
}

.card__image {
    grid-area: img1;
}

.card__text {
    grid-area: img2;
}

.card__text span {
    color: var(--color-text)
}

.card__text h1 {
    font-size: 1.30em;
    margin: 1em 0;
    line-height: 1.4
}

.card__text h1 a {
    text-decoration: none;
    color: inherit
}

.imagem__banner {
    width: 100%;
}