<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="article">
    <div class="article__other">
        <app-big-card
        id="1"
        photoCover="../assets/img/star-wars.jpg"
        cardTitle="Ordem certa de se assitir star wars"
        cardDescription="Muito se perguntam, 'qual seria a ordem considerada correta de se assistir a franqui star war?' Apartir desse artigo irei abordar a sequencia considerada a correta pelos fans da franquia galatica, embarque nessa aventura meu jovem padawan."
        ></app-big-card>
    </div>
    <div class="article__cards">
       <app-small-card  
       id="2"
        photoCover="../assets/img/flash.jpg"
        cardSpan="Noticias Geek"
        cardTitle="Acaba de ser lançado o 3 trailer do filme do flash, há varia teorias em volto do filme."
       ></app-small-card>  <!-- Podendo reutilizar componentes e tornalos dinamicos. -->
       <app-small-card
       id="3"
        photoCover="../assets/img/john-wick.jpg"
        cardSpan="Noticias"
        cardTitle="Acaba de ser divulgado a produção do quinto filme da franquia John wick, isso veio da propria produtora do filme."
       ></app-small-card>
       <app-small-card
       id="4"
        photoCover="../assets/img/barbie.jpg"
        cardSpan="Filmes"
        cardTitle="Acabou de ser lançado um filme que ningue esperava ter, filme esse que tem como personagem principal lideres de venda de boneca Barbie."
        ></app-small-card>
    </div>
</div>
