/* You can add global styles to this file, and also import other style files */

:root {
    /* Cores */
    --bg-fundo: #111;
    --color-body: #fff;
    --color-text: #575151;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-fundo);
    color: var(--color-body);
    font-size: 16px;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif
}

